.huuhed {
  background-color: rgb(57, 0, 57);
}
.huuhed-aav {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(2, 100px);
  gap: 25px;
}
.huuhed-1:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(57, 0, 57);
}
.etseg {
  background-color: paleturquoise;
  height: 270px;
  display: flex;
  width: 760px;
  align-items: center;
  justify-content: center;
}
.huuhed-3 {
  background-color: rgb(132, 3, 208);
  display: grid;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
}
.huuhed-1 {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: repeat(2, 40px);
  gap: 4%;
  justify-content: center;
  /* height: 100vh; */
  /* align-items: center; */
}
.huuhed-3:first-child {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
}
.deed{
background-color: purple;
height: 100vh;
display: grid;
align-items: center;
justify-content: center;
}