.box {
  animation: move 1s;
  animation-fill-mode: forwards;
  background-color: antiquewhite;
  width: 200px;
  height: 200px;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(700px);
  }
}
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}


.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}


.close:hover,
.close:focus {
  box-shadow: 
    inset -3.5em 0 0 0 var(--hover),
    inset 3.5em 0 0 0 var(--hover);  
}


.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}


.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}


.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}




.fill {
  --color: #a972cb;
  --hover: #c472e8;
}

.pulse {
  --color: #ef6eae;
  --hover: #ef9c6e;
}

.close {
  --color: #ff7f82;
  --hover: #ffb082;
}

.raise {
  --color: #ffa260;
  --hover: #ffd060;
}

.up {
  --color: #e4cb58;
  --hover: #b8e458;
}

.slide {
  --color: #8fc866;
  --hover: #66c88f;
}

.offset {
  --color: #19bc8b;
  --hover: #198bbc;
}



button {  
  color: var(--color);
  transition: 0.25s;
  
  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: #fff;
  }
}


body {
  color: #fff;
  background: hsl(227, 10%, 10%);
  font: 300 1em 'Fira Sans', sans-serif;
  

  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
}


button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}



