.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.menu div:nth-child(1),
div:nth-child(3) {
  width: 100px;
  height: 20px;
  background: black;
  border-radius: 15px;
  transition: 0.4s ease-in;
}
.menu div:nth-child(2) {
  width: 100px;
  height: 20px;
  background: black;
  border-radius: 15px;
}
.menu:hover div:nth-child(2) {
  transition: 0.2s ease-in;
}

.menu:hover div:nth-child(1) {
  transform: rotate(45deg) translate(28px, 28px);
  background-color: blueviolet;
}

.menu:hover div:nth-child(2) {
  opacity: 0;
}

.menu:hover div:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
  background-color: pink;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 200px;
}
.first {
  border: none;
  width: 350px;
  height: 100px;
  border-radius: 50px;
  background: linear-gradient(
    to left,
    purple,
    rgb(255, 157, 255),
    purple,
    purple
  );

  cursor: pointer;
  box-shadow: 0 0 60px black;
  text-transform: uppercase;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  font-size: 45px;
}
.btn:hover button,
.btn:focus button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    purple,
    rgb(255, 157, 255),
    purple,
    purple
  );

  transition: 1s;
}
.btn:hover .loader {
  height: 50px;
  width: 50px;
  border: 5px solid gray;
  align-items: center;
  justify-content: center;
  border-top: 5px solid blue;
  animation: spin 2s linear infinite;
  border-radius: 50%;
}
.loader {
  transition: 2s;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text {
  margin-top: 20px;
}
button:hover .text {
  display: none;
}
.loader {
  position: absolute;
}
.btn2:hover button {
  background: linear-gradient(
    to right,
    purple,
    rgb(255, 157, 255),
    purple,
    purple
  );
}
.medq2 {
  border: none;
  width: 350px;
  height: 100px;
  border-radius: 50px;
  background: linear-gradient(
    to left,
    purple,
    rgb(255, 157, 255),
    purple,
    purple
  );
  cursor: pointer;
  box-shadow: 0 0 60px black;
  text-transform: uppercase;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn2:hover .medq2 {
  background: linear-gradient(
    to right,
    purple,
    rgb(255, 157, 255),
    purple,
    purple
  );
}
.btn2 {
  transition: 5s;
}
