.d {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: end;

}
.img {
    display: flex;
width: 180px;
height: 100px;
justify-content: center;
}
.etseg {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40vh;
    border-radius: 100px;
    background:linear-gradient( rgb(255, 60, 60) ,rgb(123, 0, 0))
    
}
.p{
display: flex;
gap: 70px;
margin-right: 140px;
margin-top: 15px;

}
#button{
background-color: coral;
width: 75px;
height: 30px;
margin-top: -5px;
border-radius: 50px;
}
#itachi{
    height: 200px;
    width: 80px;
    
}