body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header{
  height: 10vh;


}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 20px 40px; */
  position: fixed;
  width: 100vw;
background-color: white;
}

.top-small ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 70px;
}

.top-small button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* Title */
.title {
  text-align: center;
  margin-top: 20px;
}

.title h1,
.title p {
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.title p {
  color: #1f5cff;
}

/* Main section */
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px;
}

.content h2 {
  font-size: 4rem;
  color: #1f5cff;
  margin: 0;
}

.desc {
  font-size: 1.2rem;
  margin-top: 20px;
  max-width: 450px;
}


.image img {
  width: 500px;
}
.zai{
margin-top: 10px;
display: flex;
flex-direction: column;
}
.medq2{
  width: 100px;
  height: 200px;
  background-color: red;
}