.etseg {
  background: repeating-linear-gradient(#1a1a1a, #8b0000);
  height: 60vh;
  border-radius: 50px;
}
.h {
  display: flex;
  justify-content: end;
  gap: 75px;
  margin-top: -90px;
  margin-right: 50px;
  display: flex;
}
.home:hover {
  background-color: white;
}
.shop:hover {
  background-color: white;
}
.product:hover {
  background-color: white;
}
.contact:hover {
  background-color: white;
}
.button:hover {
  background-color: white;
}
.home {
  border-radius: 30px;
  border: none;
  background: none;
  height: 25px;
  color: #f59e0b;
}
.shop {
  border-radius: 30px;
  border: none;
  background: none;
  height: 25px;
  color: #f59e0b;
}
.product {
  border-radius: 30px;
  border: none;
  background: none;
  height: 25px;
  color: #f59e0b;
}
.contact {
  border-radius: 30px;
  border: none;
  background: none;
  height: 25px;
  color: #f59e0b;
}
.button {
  border-radius: 30px;
  border: none;
  background: none;
  height: 35px;
  margin-top: -5px;
  color: #f59e0b;
}
#img {
  width: 150px;
  margin-left: 20px;
}
#img:hover {
  content: url(./akatsuki-logo-full-moon-red-cloud-0fpbxz2uzcf1ibsf-removebg-preview.png);
  width: 114px;
}

.etseg:has(#img:hover) {
  background: linear-gradient(to right, rgb(126, 126, 126), rgb(15, 15, 153));
}
.img {
  display: flex;
}
#hover {
  display: flex;
  margin-top: 30px;
  color: white;
  font-size: larger;
}
.input {
  display: flex;
  height: 30px;
}
.input1 {
  margin-bottom: -350px;
  margin-top: 350px;
  margin-left: -10px;
  border-radius: 50px;
  outline: none;
  border: none;
  width: 250px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
}
.input-div {
  width: 75px;
  height: 30px;
  background-color: orange;
  border-radius: 50px;
  margin-top: 350px;
  margin-left: -35px;
  border: none;
  box-shadow: 0 0 10px rgba(245, 158, 11, 0.6), 0 0 25px rgba(245, 158, 11, 0.4);
}
.input-div:hover {
  background-color: rgb(243, 92, 92);
  box-shadow: 0 0 20px rgba(245, 158, 11, 0.9), 0 0 40px rgba(245, 158, 11, 0.7);
}
.etseg-h1 {
  display: flex;
  margin-right: 900px;
  margin-top: -320px;
  color: white;
  display: flex;
  flex-direction: column;
}
.akatsuki {
  color: rgb(241, 111, 111);
  margin-left: 160px;
  margin-top: -30px;
  text-shadow: 0 0 5px rgba(159, 18, 57, 0.7), 0 0 15px rgba(159, 18, 57, 0.7),
    0 0 30px rgba(159, 18, 57, 0.6);
}
#tailbar {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: #9f1239;
}
.etseg-p {
  color: #e5e5e5;
}
.itachi {
  display: flex;
  width: 200px;
  margin-top: 15px;
  margin-left: 18px;
}
.medq {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.itachi-zurag {
  margin-right: 250px;
  margin-top: 15px;
  background-color: #8b0000;
  height: 310px;
  width: 230px;
  border-radius: 50px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.8);
}

.ner1 {
  color: #e5e5e5;
  width: 210px;
  height: 230px;
  justify-content: center;
  display: flex;
  border-radius: 10px;
  margin-top: -250px;
  margin-right: 18px;
}
.nernuud {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.huuhdiin-huuhed {
  background-color: #8b0000;
  width: 250px;
  height: 250px;
  display: flex;
  margin-top: -30px;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
}
.nagato {
  margin-left: 45px;
  margin-top: 15px;
}
#nagato-text {
  display: flex;
  justify-content: center;
  color: #e5e5e5;
}
.huuhduud {
  display: flex;
  justify-content: space-evenly;
}
.dood-hiihed {
  width: 250px;
  height: 100px;
  background: repeating-linear-gradient(#8b0000, #1a1a1a);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.huuhed-dood {
  display: flex;
  justify-content: space-evenly;
}
.medqe {
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 250px;
  height: 3px;
}
.q {
  display: flex;
  justify-content: space-evenly;
}
#nagato-text1{
  display: flex;
  color: #000000;
  /* background-color: #7a0303; */
  height: 20px;
  margin-left: -180px ;
  border-radius: 7px;
  width: 70px;
  margin-top: 5px;
}
#p{
  display: flex;
  margin-left: 5px;
}
.obito{
  /* display: flex; */
  margin-left: 80px;
}
#obito{
  color: #e5e5e5;
  margin-left: 75px;
}
.kisame{
  margin-left: 85px;
}
#k{
  margin-left: -10px;
}
#kisame{
  color: #e5e5e5;
  margin-left: 65px;
}
#h{
  margin-left: -35px;
}
.hidan{
  margin-left: 35px;
}
#hidan{
  color: #e5e5e5;
  margin-left: 105px;
}